.home{
    font-family: 'Lobster', cursive;
    background-color: white; 
    
    h2{
        font-size: 31px;        
        background: url(/images/images.png) no-repeat center 19px;
        background-size: 652px 35px;
        color: black;
        padding-bottom: 28px;           
    }
    .separator{
        border-top: 1px solid black;
        margin: 30px 0;
    }
    ul{
        list-style: none;        
        margin-bottom: 50px;
        a:hover{
            color: darkorange;
            img{
                opacity: 0.8;
            }
        }
        h3{
            font-size: 1.5em;
            color: darkorange;
            
        }        
    }
}
