.ai {
    font-style:normal;
    color:purple;
    font-weight:bold;
    font-size:24px;
    line-height:24px;
}
.ai.aries:before {
    content:"\2648";
}
.ai.mercury:before {
    content:"\263F";
}

.info{
    font-size: 18px;

    .title{
        text-align: left;
        font-size: 24px;
    }

    .menu{
        padding: 10px 0;

        &:hover{
            color: #000;
        }
    }
    
    .text{
        text-align: left;
        font-family: 'Roboto', sans-serif;
        margin-top: 10px;
        //display: none;
    }

    .icon i{
        position: relative;
        top: 5px;
    }
    
}