.info{
    font-size: 18px;

    .title{
        text-align: left;
        font-size: 24px;

        &:hover{
            color: #000;
            text-decoration: underline;
        }

        &.active{
            color: #000;
            text-decoration: underline;
        }
    }

    .menu{
        padding: 10px 0;

        a{
            color: rebeccapurple;
        }

        &:hover{
            color: #000;
        }
    }
    
    .text{
        text-align: left;
        font-family: 'Roboto', sans-serif;
        margin-top: 10px;
        //display: none;

        p{
            padding-left: 60px;

            @media(max-width: 992px){
                padding-left: 0;
            }
        }
    }

    .icon i{
        position: relative;
        top: 5px;
        color: black;
    }
    
}

.cabala-ico{
    background: url("/src/assets/images/images.jpg") no-repeat;
    background-size: contain;
    height: 28px;
    width: 100%;
    float:left;
}

.ai {
    font-style:normal;
    color:black;
    background: white;
    font-weight:bold;
    font-size:24px;
    line-height:24px;
}
.ai.aries:before {
    content:"\2648";
}
.ai.touro:before {
    content:"\2649";
}
.ai.gemeos:before {
    content:"\264A";
}
.ai.cancer:before {
    content:"\264B";
}
.ai.leao:before {
    content:"\264C";
}
.ai.virgem:before {
    content:"\264D";
}
.ai.libra:before {
    content:"\264E";
}
.ai.escorpiao:before {
    content:"\264F";
}
.ai.sagitario:before {
    content:"\2650";
}
.ai.capricornio:before {
    content:"\2651";
}
.ai.aquariu:before {
    content:"\2652";
}
.ai.peixes:before {
    content:"\2653";
}
.ai.sol:before {
    content:"\2609";
}
.ai.lua:before {
    content:"\263D";
}
.ai.moon-variant:before {
    content:"\263E";
}
.ai.terra:before {
    content:"\2295";
}
.ai.mercurio:before {
    content:"\263F";
}
.ai.venus:before {
    content:"\2640";
}
.ai.marte:before {
    content:"\2642";
}
.ai.jupiter:before {
    content:"\2643";
}
.ai.saturno:before {
    content:"\2644";
}
.ai.urano:before {
    content:"\2645";
}
.ai.netuno:before {
    content:"\2646";
}
.ai.plutao:before {
    content:"\2647";
}
.ai.chiron:before {
    content:"\26B7";
}
.ai.north-node:before {
    content:"\260A";
}
.ai.south-node:before {
    content:"\260B";
}
.ai.part-of-fortune:before {
    content:"\2297";
}
.ai.lilith:before {
    content:"\26B8";
}
.ai.ceres:before {
    content:"\02A1";
}
.ai.juno:before {
    content:"\26B5";
}
.ai.pallas:before {
    content:"\26B4";
}
.ai.vesta:before {
    content:"\26B6";
}
.ai.conjunction:before {
    content:"\260C";
}
.ai.square:before {
    content:"\25A1";
}
.ai.trine:before {
    content:"\25B3";
}
.ai.opposition:before {
    content:"\260D"
}
.ai.semisquare:before {
    content:"\2220"
}
.ai.quintile:before {
    content:"\0051"
}
.ai.biquintile:before {
    content:"\0062\0051"
}
.ai.retrograde:before {
    content:"\211E"
}
.ai.comet:before {
    content:"\2604"
}

.ai.water{
    background: url("/src/assets/images/4_elementos/water.png") no-repeat;
    background-size: contain;
    height: 28px;
    width: 100%;
    float:left;
}