.card {
    .card-button {
        font-size: 42px;
        width: 50px;
        height: 50px;
        opacity: .7;
        background: #00BCD4;
        border: 1px solid #000;
        position: absolute;
        bottom: 47px;
        left: 50%;
        margin-left: -25px;
        text-decoration: none;
        line-height: 45px;
        color: #000;

        &:hover{
            opacity: 1;
        }
    }

    .circleBase {
        border-radius: 50%;
    }
}