.ai.aleph{
    background: url("/src/assets/images/letras_hebraicas/hr20-01-alef.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}

.ai.beit{
    background: url("/src/assets/images/letras_hebraicas/hr20-02-beit.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}

.ai.guimel{
    background: url("/src/assets/images/letras_hebraicas/hr20-03-guimel.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}

.ai.dalet{
    background: url("/src/assets/images/letras_hebraicas/hr20-04-dalet.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}



.ai.hei{
    background: url("/src/assets/images/letras_hebraicas/hr20-05-hei.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}

.ai.vav{
    background: url("/src/assets/images/letras_hebraicas/hr20-06-vav.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}

.ai.chet{
    background: url("/src/assets/images/letras_hebraicas/hr20-08-chet.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}

.ai.tet{
    background: url("/src/assets/images/letras_hebraicas/hr20-09-tet.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}

.ai.yud{
    background: url("/src/assets/images/letras_hebraicas/hr20-10-yud.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}





.ai.kaf{
    background: url("/src/assets/images/letras_hebraicas/hr20-11-kaf.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}

.ai.lamed{
    background: url("/src/assets/images/letras_hebraicas/hr20-12-lamed.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}

.ai.mem{
    background: url("/src/assets/images/letras_hebraicas/hr20-13-mem.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}

.ai.nun{
    background: url("/src/assets/images/letras_hebraicas/hr20-14-nun.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}

.ai.samech{
    background: url("/src/assets/images/letras_hebraicas/hr20-15-samech.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}

.ai.ayin{
    background: url("/src/assets/images/letras_hebraicas/hr20-16-ayin.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}

.ai.pei{
    background: url("/src/assets/images/letras_hebraicas/hr20-17-pei.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}

.ai.tsadi{
    background: url("/src/assets/images/letras_hebraicas/hr20-18-tsadi.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}

.ai.kuf{
    background: url("/src/assets/images/letras_hebraicas/hr20-19-kuf.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}

.ai.reish{
    background: url("/src/assets/images/letras_hebraicas/hr20-20-reish.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}

.ai.shin{
    background: url("/src/assets/images/letras_hebraicas/hr20-21-shin.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}

.ai.tav{
    background: url("/src/assets/images/letras_hebraicas/hr20-22-tav.jpg") no-repeat;
    background-size: contain;
    height: 20px;
    width: 100%;
    float:left;
    left: 6px;
    top: 10px;
}