<div class="container home text-center">
    <div class="container">
        <h2>O Mago</h2>
        <div class="col-sm-offset-4 col-md-4 col-md-offset-0 ">   
            <div class="card">   
                <div class="card-body">
                    
                    <img class="card-img" src="./src/assets/images/laminas/o-louco.jpg">

                    <a href="javascript:void(0)" ng-click="showInfo()" class="card-button circleBase">+</a>
                </div>
            </div>
        </div>

        <div class="col-md-8 info">   
            <div class="menus col-sm-6 col-sm-offset-4 col-md-12 col-md-offset-0">
                <div class="menu col-md-12">   
                    <a ng-click="showText()" href="javascript:void(0)">
                        <div class="col-sm-1 icon">
                            <i class="ai mercury"></i>
                        </div>
                        <div class="col-sm-6 title">Descrição</div>
                        <a href="" class="col-sm-1">+</a>
                    </a>

                    <div class="text col-md-12" ng-show="show_me">
                        <p>If you are involved in any work requiring creative inspiration or craftsmanship, the VIII of Pentacles is a very positive card. This is doubly true if you are using skills you are still trying to master. This is as likely to be a hobby as your primary work. Unlike most of the suit, financial gain is not necessarily indicated, but a spiritual reward is. This is also not a guarantee, but rather a suggestion that if you are prudent and organized in your attempt, success is the likelier outcome. ração</p>
                    </div>
                </div>

                <div class="menu col-md-12">   
                    <a href="">
                        <div class="col-sm-1 icon">
                            <i class="ai mercury"></i>
                        </div>
                        <div class="col-sm-6 title">Letra Hebraica</div>
                        <a href="" class="col-sm-1">+</a>
                    </a>
                </div>

                <div class="menu col-md-12">   
                    <a href="">
                        <div class="col-sm-1 icon">
                            <i class="ai mercury"></i>
                        </div>
                        <div class="col-sm-6 title">Planeta</div>
                        <a href="" class="col-sm-1">+</a>
                    </a>
                </div>
            </div>

            <div class="text col-sm-9">

            </div>
        </div>
    </div>    
</div>