<div class="container home text-center">
    <div class="container">
        <h2>{{lamina.name}}</h2>
        <div class="col-sm-offset-4 col-md-4 col-md-offset-0 ">   
            <div class="card">   
                <div class="card-body">
                    
                    <img class="card-img" src="{{lamina.image}}">

                    <!-- <a href="javascript:void(0)" ng-click="showInfo()" class="card-button circleBase">+</a> -->
                </div>
            </div>
        </div>

        <div class="col-md-8 info">   
            <div class="menus col-sm-6 col-sm-offset-4 col-md-12 col-md-offset-0">
                <div class="menu col-md-12">  
                    <div class="row">
                        <a ng-click="showText(1)" href="javascript:void(0)">
                            <div class="col-sm-1 col-xs-2 icon">
                                <i class="fa fa-list"></i>
                            </div>
                            <div class="col-sm-6 col-xs-8 title" ng-class="cClass == 1 ? 'active' : ''">Descrição</div>
                            <a href="" class="col-sm-1 col-xs-2">
                                <i class="fa" ng-class="cClass == 1 ? 'fa-chevron-up' : 'fa-chevron-down'" ng-if="lamina.description"></i>
                            </a>
                        </a>
                        

                        <div class="text col-md-12 col-xs-12" ng-if="lamina.description" ng-show="cClass == 1">
                            <p ng-bind-html="lamina.description"></p>
                        </div>
                    </div>  
                </div>
                
                <div class="menu col-md-12">   
                    <div class="row">
                        <a ng-click="showText(7)" href="javascript:void(0)">
                            <div class="col-sm-1 col-xs-2 icon">
                                <i class="ai {{lamina.zodiac_sign.symbol}}"></i>
                            </div>
                            <div class="col-sm-6 col-xs-8 title" ng-class="cClass == 7 ? 'active' : ''">Simbolo do Zodiaco: {{lamina.zodiac_sign.name}}</div>
                            <a href="" class="col-sm-1 col-xs-2">
                                <i class="fa" ng-class="cClass == 7 ? 'fa-chevron-up' : 'fa-chevron-down'" ng-if="lamina.zodiac_sign.text"></i>
                            </a>
                        </a>

                        <div class="text col-md-12 col-xs-12" ng-if="lamina.zodiac_sign.text" ng-show="cClass == 7">
                            <p>{{lamina.zodiac_sign.text}}</p>
                        </div>
                    </div>
                </div>

                <div class="menu col-md-12">   
                    <div class="row">
                        <a ng-click="showText(5)" href="javascript:void(0)">
                            <div class="col-sm-1 col-xs-2 icon">
                                <i class="ai {{lamina.element.symbol}}"></i>
                            </div>
                            <div class="col-sm-6 col-xs-8 title" ng-class="cClass == 5 ? 'active' : ''">Elemento: {{lamina.element.name}}</div>
                            <a href="" class="col-sm-1">
                                <i class="fa" ng-class="cClass == 5 ? 'fa-chevron-up' : 'fa-chevron-down'" ng-if="lamina.element.text"></i>
                            </a>
                        </a>

                        <div class="text col-md-12 col-xs-12" ng-if="lamina.element.text" ng-show="cClass == 5">
                            <p>{{lamina.element.text}}</p>
                        </div>
                    </div>
                </div>

                <div class="menu col-md-12">   
                    <div class="row">
                        <a ng-click="showText(4)" href="javascript:void(0)">
                            <div class="col-sm-1 col-xs-2 icon">
                                <i class="ai {{lamina.astrology.symbol}}"></i>
                            </div>
                            <div class="col-sm-6 col-xs-8 title" ng-class="cClass == 4 ? 'active' : ''">Astrologia: {{lamina.astrology.name}}</div>
                            <a href="" class="col-sm-1">
                                <i class="fa" ng-class="cClass == 4 ? 'fa-chevron-up' : 'fa-chevron-down'" ng-if="lamina.astrology.text"></i>
                            </a>
                        </a>

                        <div class="text col-md-12 col-xs-12" ng-if="lamina.astrology.text" ng-show="cClass == 4">
                            <p>{{lamina.astrology.text}}</p>
                        </div>
                    </div>
                </div>      

                <div class="menu col-md-12">
                    <div class="row">
                        <a ng-click="showText(2)" href="javascript:void(0)">
                            <div class="col-sm-1 col-xs-2 icon">
                                <i class="ai {{lamina.hebrew_letter.symbol}}"></i>
                            </div>
                            <div class="col-sm-6 col-xs-8 title" ng-class="cClass == 2 ? 'active' : ''">Letra Hebráica: {{lamina.hebrew_letter.name}}</div>
                            <a href="" class="col-sm-1">
                                <i class="fa" ng-class="cClass == 2 ? 'fa-chevron-up' : 'fa-chevron-down'" ng-if="lamina.hebrew_letter.text"></i>
                            </a>
                        </a>

                        <div class="text col-md-12 col-xs-12" ng-if="lamina.hebrew_letter.text" ng-show="cClass == 2">
                            <p>{{lamina.hebrew_letter.text}}</p>
                        </div>
                    </div>
                </div>

                <div class="menu col-md-12">   
                    <div class="row">
                        <a ng-click="showText(3)" href="javascript:void(0)">
                            <div class="col-sm-1 col-xs-2 icon">
                                <i class="ai {{lamina.numerology.symbol}}">{{lamina.numerology.symbol}}</i>
                            </div>
                            <div class="col-sm-6 col-xs-8 title" ng-class="cClass == 3 ? 'active' : ''">Numerologia</div>
                            <a href="" class="col-sm-1">
                                <i class="fa" ng-class="cClass == 3 ? 'fa-chevron-up' : 'fa-chevron-down'" ng-if="lamina.numerology.text"></i>
                            </a>
                        </a>

                        <div class="text col-md-12 col-xs-12" ng-if="lamina.numerology.text" ng-show="cClass == 3">
                            <p>{{lamina.numerology.text}}</p>
                        </div>
                    </div>
                </div>                          

                <div class="menu col-md-12">   
                    <div class="row">
                        <a ng-click="showText(6)" href="javascript:void(0)">
                            <div class="col-sm-1 col-xs-2 icon" ng-if="lamina.cabala_path.length != 0">
                                <i class="cabala-ico"></i>
                            </div>
                            <div class="col-sm-6 col-xs-8 title" ng-class="cClass == 6 ? 'active' : ''">Caminho na Cabala: {{lamina.cabala_path.symbol}}</div>
                            <a href="" class="col-sm-1">
                                <i class="fa" ng-class="cClass == 6 ? 'fa-chevron-up' : 'fa-chevron-down'" ng-if="lamina.cabala_path.text"></i>
                            </a>
                        </a>

                        <div class="text col-md-12 col-xs-12" ng-if="lamina.cabala_path.text" ng-show="cClass == 6">
                            <p>{{lamina.cabala_path.text}}</p>
                        </div>
                    </div>
                </div>                
            </div>

            <div class="text col-sm-9">

            </div>
        </div>
    </div>    
</div>