nav{
    .navbar-brand{
        //font-family: 'Lobster', cursive;
        //font-family: 'Amatic SC', cursive;
        // font-family: 'Cinzel Decorative', cursive;
        
        // font-family: 'Dynalight', cursive;
         font-family: 'Pattaya', sans-serif;
        text-align: center;
        font-size: 50px;
        width: 100%;
        margin: 20px 0;
        color:black;
        text-transform: uppercase;
    }
}