body{
    background: url('/src/assets/images/maxresdefault.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    background-color: white;
    .navbar-brand{
        //font-family: 'Lobster', cursive;
        //font-family: 'Amatic SC', cursive;
        // font-family: 'Cinzel Decorative', cursive;
        
        // font-family: 'Dynalight', cursive;
        font-family: 'Pattaya', sans-serif;
        text-align: center;
        font-size: 50px;
        width: 100%;
        margin: 20px 0;
        color:black;
        text-transform: uppercase;

        &:hover, &:focus{
            color:black;
            opacity: 0.7;
        }
    }
}
.search{
    background-color: white;
    padding: 60px 0;
    #ex2_value{
        border: 1px solid black;
        width: 80%;
        margin: 0 auto;
        font-size: 20px;
        font-family: 'Pattaya', sans-serif;
    }
    #ex2_dropdown{
        width: 80%;
        margin: 0 auto;        
        border: 1px solid black;
        max-height: 300px;
        overflow: auto;
    }
    .angucomplete-title{
        font-size: 20px;        
        border-bottom: 1px solid black;

        &:hover{
            cursor: pointer;
            background-color: darkorange;
        }
    }
}

.footer{
    background-color: white;
    padding: 60px 0;

    .footer-brand{
        font-family: 'Pattaya', sans-serif;
        text-align: left;
        font-size: 30px;                
        color:black;
        text-transform: uppercase;
        
        &:hover, &:focus{
            color:black;
            opacity: 0.7;
        }
    }

    span{
        text-align: right;
        font-family: 'Lobster', cursive;
        font-size: 20px; 
    }
}